<% 
var page_title= "Outlet";
var page_title_desc = "Manage your Outlets";
var progress1_title = 'Target Progress';
var progress2_title = 'Target Progress';
%>

<%- contentFor('header') %>
<nav class="navbar py-0 navbar-expand-sm navbar-dark">
    <!-- Brand Logo -->
    <a class="navbar-brand" href="#">Logo</a>
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="/admin/home">Dashboard</a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="/admin/outlet">Outlet</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/inventory">Inventory</a>
        </li>
    </ul>
      
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/notification"><i class="fas fa-bell"></i></a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
                Welcome, <%= user %>
            </a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/settings">Settings</a>
            <a class="dropdown-item" href="/user/logout">Logout</a>
            </div>
        </li>
    </ul>
</nav>
      
<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">

                <div id="dashboard-text">
                    <h1> <span><i class="fas fa-globe-asia"></i></span> <%= page_title %> <small class="text-secondary"> <%= page_title_desc %> </small></h1>
                </div>
                
            </div>
            <div class="col-md-2">
                <div class="dropdown create">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create Content
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/admin/employee/create">Employee</a>
                        <a class="dropdown-item" href="/admin/outlet/create">Outlet</a>
                    </div>
                </div>          
            </div>
        </div>
    </div>
</div>
      
<!--Body section-->
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/home">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Outlet</li>
        </ol>  
    </div>
</section>

<%- contentFor('selection') %>
<div class="card" id="panel">
    <div class="card-header">
        Outlet List
    </div>
    
    <div class="col-md-9 p-3 mx-auto">
        <div class="container">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search By Name" id="searchBox" >        
            </div>
        </div>
    </div>
           
    <div class="card-body">
        <div class="table-responsive-md">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">City</th>
                    </tr>
                </thead>
                <tbody id="ajaxTable">

                    <!-- Employee List shown here -->

                </tbody>
            </table>
        </div>
    </div>
</div>
            

<!--Body Section End-->

<script>

$(document).ready(() => {

    searchBox('*');

    $("#searchBox").keyup((event) => {
        var key = $(event.currentTarget).val();
        if (key == '')
            key = '*'
        searchBox(key);
    });

    $('#ajaxTable').on('click','tr', (event) => {
        
        var id = $(event.currentTarget).attr("id");
        if(id != null)
        {
            window.location.href= `/admin/outlet/info/${id}`;
        }
    });

});

function searchBox(key) {
    
    $.ajax({

        url: `/admin/outlet/searchAjax/${key}`, 
        
        success: (outList) => {
            //console.log(empList);
            var html = '';
            
            if(outList != null)
            {
                for (var i = 0; i< outList.length; i++) {

                    html += `<tr class="tr-hover" id="${outList[i].outlet_ID}" >`;
                    html += `<th scope="row"> ${outList[i].outlet_ID} </t>`;
                    html += `<td> ${outList[i].name} </td>`
                    html += `<td> ${outList[i].location} </td>`
                    html += `<td> ${outList[i].city} </td>`
                    html += '</tr>';
                }
                $('#ajaxTable').html(html);
            }
        }
    });
}

</script>

