<%- contentFor('header') %>

<!--Body section-->
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/home">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/admin/employee">Employee</a></li>
            <li class="breadcrumb-item active" aria-current="page">Info</li>
        </ol>
    </div>
</section>

<%- contentFor('selection') %>
<div class="card main" id="panel">
    <div class="card-header main-bg-color">
        Salary Scale
    </div>
    <div class="col">
        <div class="col-md-4 mx-auto card card-body">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateSalary">
                Update Salary
            </button>
        </div>
        <div class="card card-body p-3">
            <div class="row ">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Time (Months)</th>
                                <th>Percentage</th>
                                <th>*</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < scaleList.length; i++ ) {%>
                            <tr class="tr-hover">
                                <td><%= scaleList[i].time %> </td>
                                <td><%= scaleList[i].percentage %></td>
                                <td>
                                    <button type="button"
                                        id="<%= scaleList[i].scale_id %>/<%= scaleList[i].time %>/<%= scaleList[i].percentage %>"
                                        class="btn btn-info btn-edt" data-toggle="modal" data-target="#editModal">
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-danger btn-del"
                                        id="<%= scaleList[i].scale_id %>" data-toggle="modal"
                                        data-target="#deleteModal">
                                        Delete
                                    </button>
                                </td>

                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modals -->

<!-- Modals Edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Scale Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">ID</label>
                        <input type="text" class="form-control" name="scale_id" id="edt-id" readonly>

                    </div>
                    <div class="form-group">
                        <label for="name">Time(months)</label>
                        <input type="number" class="form-control" name="time" id="edt-time" value="">
                    </div>
                    <div class="form-group">
                        <label for="phone">Percentage</label>
                        <input type="number" class="form-control" name="per" id="edt-per" value="">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modals Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile Deletation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="POST">
                <div class="modal-body">
                    Are you sure your want to delete this profile?
                </div>
                <input type="hidden" name="buttonType" value="delete">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                    <a id="btn-del-a" href="/employee/salary/delete" class="btn btn-danger" role="button">Yes</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Update Salary-->
<div class="modal fade" id="updateSalary" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile Deletation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="POST">
                <div class="modal-body">
                    Are you sure your want to update all the employee's salary?
                </div>
                <input type="hidden" name="buttonType" value="delete">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                    <button type="button" id="btn-sal" class="btn btn-warning">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Body Section End-->
<script>
    $(document).ready(() => {
        $('.btn-edt').click((event) => {
            var id = $(event.currentTarget).attr("id");
            var sid = id.split("/")[0];
            var time = id.split("/")[1];
            var per = id.split("/")[2];

            $('#edt-id').val(sid);
            $('#edt-time').val(time);
            $('#edt-per').val(per);

        });

        $('.btn-del').click((event) => {
            var id = $(event.currentTarget).attr("id");
            $('#btn-del-a').attr("href", `/admin/employee/salary/delete/${id}`);
        });

        $('#btn-sal').click((event) => {
            $.ajax({

                url: `/admin/employee/searchAjax/*`,

                success: (empList) => {
                    console.log(empList);

                    $.ajax({

                        url: `/admin/employee/salary/getAjax`,

                        success: (scaleList) => {
                            for (var i = 0; i < empList.length; i++) {
                                for (var j = 0; j < scaleList.length; j++) {
                                    
                                    if (empList[i].old >= scaleList[j].time) {
                                        //console.log(empList[i].old, '' , scaleList[j].time);
                                        var sal = empList[i].salary + (empList[i].salary * scaleList[j].percentage / 100);
                                        console.log(empList[i].salary, '', scaleList[j].percentage)
                                        $.ajax({
                                            url: `/admin/employee/salary/update/${empList[i].emp_ID}/${sal}`,
                                            success: () => {
                                                console.log(
                                                    'success');
                                            }
                                        });
                                        break;
                                    }
                                }
                            }
                        }
                    });

                    /*
                    if (empList != null) {
                        var scaleList = getScaleDetail();
                        for (var i = 0; i < empList.length; i++) {
                            for(var j = 0; j < scaleList.length; j++)
                            {
                                
                            }
                        }
                        
                    }
                    */
                }
            });
        });

        function getScaleDetail() {

        }
    });
</script>